<div class="container mt-5">
  <div class="justify-content-between d-flex align-items-center mb-4">
    <h1 class="employee-header mb-3">Detalles del Empleado</h1>
  </div>
  <div class="employee-card">
    <h2><%= @employee.first_name %> <%= @employee.last_name %></h2>
    <p>📄 CURP: <%= @employee.citizen_register %></p>
    <p>📧 Correo electrónico: <%= @employee.email %></p>
    <p>💵 Sueldo: $<%= number_with_precision(@employee.salary, precision: 2) %></p>

    <div class="employee-actions">
      <%= link_to "Regresar", (request.referer || dashboard_path), class: "btn btn-outline-secondary" %>
      <%= link_to "Editar", edit_location_employee_path(@location, @employee), class: "btn btn-outline-primary" %>
      <%= link_to "Eliminar", location_employee_path(@location, @employee), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
