<div class="container m-5">
  <h1 class="text-center mb-4">Nueva Actividad</h1>
  <div class="card mx-auto shadow" style="max-width: 500px;">
    <div class="card-body">
      <% if @schedule.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
      <%= simple_form_for [@location, @schedule] do |f| %>
        <div class="mb-3">
          <%= f.input :schedulable_type, as: :select, collection: ['Animal', 'Crop'], prompt: 'Selecciona el tipo', label: 'Tipo', input_html: { class: 'form-select' } %>
        </div>
        <div class="mb-3" id="animal-element-field" style="<%= @schedule.schedulable_type == 'Animal' ? '' : 'display:none;' %>">
          <%= f.input :schedulable_id, as: :select, collection: @animals.map { |s| [s.alias, s.id] }, prompt: 'Selecciona un elemento', label: 'Elemento Animal', input_html: { class: 'form-select' } %>
        </div>
        <div class="mb-3" id="crop-element-field" style="<%= @schedule.schedulable_type == 'Crop' ? '' : 'display:none;' %>">
          <%= f.input :schedulable_id, as: :select, collection: @crops.map { |c| [c.kind, c.id] }, prompt: 'Selecciona un cultivo', label: 'Elemento Cultivo', input_html: { class: 'form-select' } %>
        </div>
        <div class="mb-3">
          <div id="animal-activity-field" style="<%= @schedule.schedulable_type == 'Animal' ? '' : 'display:none;' %>">
            <%= f.input :activity_id, as: :select, collection: @animal_activities.map { |a| [a.name, a.id] }, prompt: 'Selecciona una actividad de animal', label: 'Actividad Animal', input_html: { class: 'form-select', id: 'animal-activity-select' } %>
          </div>
          <div id="crop-activity-field" style="<%= @schedule.schedulable_type == 'Crop' ? '' : 'display:none;' %>">
            <%= f.input :activity_id, as: :select, collection: @crop_activities.map { |c| [c.name, c.id] }, prompt: 'Selecciona una actividad de cultivo', label: 'Actividad Cultivo', input_html: { class: 'form-select', id: 'crop-activity-select' } %>
          </div>
        </div>
        <div class="mb-3">
          <%= f.input :start_date, html5: true, label: 'Fecha de inicio', input_html: { class: 'form-control' } %>
        </div>
        <div class="mb-3">
          <%= f.input :end_date, html5: true, label: 'Fecha de fin', input_html: { class: 'form-control' } %>
        </div>
        <%= f.button :submit, 'Crear Actividad', class: 'btn btn-primary w-100 mt-3' %>
      <% end %>
      <div class="text-center mt-3">
        <%= link_to 'Volver al Dashboard', dashboard_path(@user), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
