<h1>Actividades</h1>
<div class="container">
<ul>
  <% @schedules.each do |schedule| %>
    <li>
      <% if schedule.schedulable_type == "Crop" %>
        <% crop = Crop.find(schedule.schedulable_id) %>
        <%= crop.kind %>
        <% else %>
        <% schedule.schedulable_type == "Animal" %>
        <% animal = Animal.find(schedule.schedulable_id) %>
        <%= animal.breed.breed_type %>
      <% end %>
      <%= schedule.start_date %>
      <%= schedule.end_date %>
      <%= schedule.activity.name %>
    </li>
  <% end %>
  </ul>
</div>
