<footer class="footer-campo360">
  <div class="footer-container">
    <div class="footer-brand">
      <%= image_tag("iconos/logo360_icon.png", height: 40, alt: "Logo Campo360") %>
      <h4>Campo360</h4>
    </div>

    <div class="footer-links">
      <div>
        <h6>Secciones</h6>
        <ul>
          <li><%= link_to "Inicio", root_path %></li>
        </ul>
      </div>
      <div>
        <h6>Soporte</h6>
        <ul>
          <li><%= link_to "Contacto", support_path(anchor: "contacto") %></li>
          <li><%= link_to "Ayuda", support_path(anchor: "ayuda") %></li>
          <li><%= link_to "Términos", support_path(anchor: "terminos") %></li>
        </ul>
      </div>
    </div>

    <div class="footer-social">
      <h6>Síguenos</h6>
      <div class="social-icons">
        <%= link_to "#", class: "social-icon", target: "_blank" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
        <%= link_to "#", class: "social-icon", target: "_blank" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to "#", class: "social-icon", target: "_blank" do %>
          <i class="fab fa-x-twitter"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <small>© <%= Time.now.year %> Campo360. Todos los derechos reservados.</small>
  </div>
</footer>
