<div class="dashboard-container">

  <!-- Navbar superior -->
  <header class="dashboard-header">
  <div class="left-section">
    <h2>Mi rancho</h2>
    <select class="rancho-selector">
      <option>Hacienda Napol茅s</option>
      <option>Rancho Los Sauces</option>
    </select>
  </div>

  <nav class="navbar-links">
    <%= link_to "Inicio", root_path, class: "nav-link" %>
    <%= link_to "Actividad", actividad_path, class: "nav-link" %>
    <%= link_to "Ajustes", settings_path, class: "nav-link" %>
    <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data:{turbo_method: :delete}%>
    <% else %>
    <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
    <% end %>
  </nav>
</header>


  <!-- Buscador -->
  <div class="search-bar">
    <input type="text" placeholder="Buscar animal, cultivo o actividad..." />
  </div>

  <!-- Banner de notificaci贸n -->
  <div class="notification-banner">
     Tu cultivo de ma铆z debe ser regado en menos de 5 horas.
  </div>

  <!-- Cards principales -->
  <div class="main-cards">
    <div class="card" onclick="window.location='/animals'">
      <%= image_tag("iconos/animals_icon.png", alt: "Ganado", class: "icono-section") %>
      <h3>Ganado</h3>
      <p>Controla ba帽os, vacunas, pesos y salud.</p>
    </div>

    <div class="card" onclick="window.location='/crops'">
      <%= image_tag("iconos/crops_icon.png", alt: "Siembra", class: "icono-section") %>
      <h3>Siembras</h3>
      <p>Gestiona tus cultivos, riegos y fumigaciones.</p>
    </div>

    <div class="card" onclick="window.location='/admin'">
      <%= image_tag("iconos/admins_icon.png", alt: "Admin", class: "icono-section") %>
      <h3>Administraci贸n</h3>
      <p>Control de finanzas y pagos de empleados.</p>
    </div>
  </div>

  <!-- Actividad reciente -->
  <section class="recent-activity">
    <h3>Actividad reciente</h3>
    <ul>
      <li> Vacunaci贸n aplicada a Toro #004 - 18 de junio</li>
      <li> Fumigaci贸n en cultivo de ma铆z - 17 de junio</li>
      <li> Pago a Juan P茅rez - 16 de junio</li>
    </ul>
  </section>

</div>
