<div
  id="<%= dom_id(animal) %>"
  class="animal-item"
  role="button"
  tabindex="0"
  data-controller="animal-line"
  data-animal-line-url-value="<%= location_animal_path(location, animal) %>">

  <div>
    <strong><%= animal.alias %></strong> - <%= animal.breed %> - <%= animal.gender %>
    <% if animal.birth_date %>
      <br><small>Nacido: <%= animal.birth_date.strftime("%Y-%m-%d") %></small>
    <% end %>
  </div>
</div>
