<h1>Yours Locations</h1>
<% if @locations.present? %>
  <% @locations.each do |location| %>
  <div class="location">
    <h2><%= link_to location.name, location %></h2>
    <p><%= location.description %></p>
    <p>Latitude: <%= location.latitude %>, Longitude: <%= location.longitude %></p>
    <p>Created at: <%= location.created_at.strftime("%B %d, %Y") %></p>
    <% end %>
  </div>
  <% else %>
  <div class="no-locations">
    <p>No locations found.</p>
    <%= link_to 'Add a new location', new_location_path, class: 'btn btn-primary' %>
  </div>
  <% end %>
