<!DOCTYPE html>
<html>
  <head>
    <title>Campo360</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %> <!-- Aquí irá tu turbo-frame desde la vista -->

  </body>
</html>
