<!DOCTYPE html>
<html>
  <head>
    <title>Campo360</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Estilos generales -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Estilos específicos por acción -->
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= stylesheet_link_tag "pages/home", media: "all", "data-turbo-track": "reload" %>
    <% elsif controller_name == 'pages' && action_name == 'dashboard' %>
      <%= stylesheet_link_tag "pages/dashboard", media: "all", "data-turbo-track": "reload" %>
    <% elsif controller_name == 'pages' && action_name == 'support' %>
      <%= stylesheet_link_tag "pages/support", media: "all", "data-turbo-track": "reload" %>
    <% end %>


    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", media: "all", "data-turbo-track": "reload" %>

    <!-- JS -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="layout-body">
    <div class="layout-wrapper">
      <%= render "shared/navbar", current_location: @location %>

      <main class="layout-content">
        <%= yield %>
      </main>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
